<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="footer">
		<footer class="footer footer-2">
			<div class="footer-middle">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-lg-6 col-xl-5">
							<div class="widget widget-about">
								<h2>TUANTN SHOP</h2>
								<p>Tuantn shop giúp chủ tạp hóa quản lý nhập hàng hóa dễ dàng bằng công nghệ thông minh. Đặt hàng mọi lúc mọi nơi, đặt 1 lần được cả trăm mặt hàng, hỗ trợ thanh toán theo nhiều phương thức khác nhau, giao hàng siêu tốc (kể cả thứ 7, chủ nhật),…</p>
								<div class="social-icons social-icons-color">
									<span class="social-label">Follow us</span>
									<a href="#" class="social-icon social-facebook" title="Facebook" target="_blank">
										<i class="icon-facebook-f"></i>
									</a>
									<a href="#" class="social-icon social-twitter" title="Twitter" target="_blank">
										<i class="icon-twitter"></i>
									</a>
									<a href="#" class="social-icon social-instagram" title="Instagram" target="_blank">
										<i class="icon-instagram"></i>
									</a>
								</div><!-- End .soial-icons -->

							</div><!-- End .widget about-widget -->
						</div><!-- End .col-sm-12 col-lg-3 -->

						<div class="col-lg-6 col-xl-7">
							<div class="row">
								<div class="col-sm-4">
									<div class="widget">
										<h4 class="widget-title">Information</h4><!-- End .widget-title -->

										<ul class="widget-list">
											<li><a href="about.html">About His and Hers</a></li>
											<li><a href="faq.html">FAQ</a></li>
											<li><a href="contact.html">Contact us</a></li>
											<li><a href="login.html">Log in</a></li>
										</ul><!-- End .widget-list -->
									</div><!-- End .widget -->
								</div><!-- End .col-sm-4 col-lg-3 -->

								<div class="col-sm-4">
									<div class="widget">
										<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

										<ul class="widget-list">
											<li><a href="#">Payment Methods</a></li>
											<li><a href="#">Money-back guarantee!</a></li>
											<li><a href="#">Returns</a></li>
											<li><a href="#">Shipping</a></li>
											<li><a href="#">Terms and conditions</a></li>
											<li><a href="#">Privacy Policy</a></li>
										</ul><!-- End .widget-list -->
									</div><!-- End .widget -->
								</div><!-- End .col-sm-4 col-lg-3 -->

								<div class="col-sm-4">
									<div class="widget">
										<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

										<ul class="widget-list">
											<li><a href="login.html">Sign In</a></li>
											<li><a href="cart.html">View Cart</a></li>
											<li><a href="wishlist.html">My Wishlist</a></li>
											<li><a href="#">Track My Order</a></li>
											<li><a href="#">Help</a></li>
										</ul><!-- End .widget-list -->
									</div><!-- End .widget -->
								</div><!-- End .col-sm-4 col-lg-2 -->
							</div><!-- End .row -->
						</div><!-- End .col-lg-6 col-xl-7 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</div><!-- End .footer-middle -->

			<div class="footer-bottom">
				<div class="container">
					<p class="footer-copyright">Bản quyền thuộc về Trần Nguyễn Tuấn - Phùng Thị Thanh Thư</p>
					<!-- End .footer-copyright -->
				

					
				</div><!-- End .container -->
			</div><!-- End .footer-bottom -->
		</footer>
		<!-- Plugins JS File -->

		<!-- Plugins JS File -->
		<script th:src="@{/assets/js/jquery.min.js}"></script>
		<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/assets/js/jquery.hoverIntent.min.js}"></script>
		<script th:src="@{/assets/js/jquery.waypoints.min.js}"></script>
		<script th:src="@{/assets/js/superfish.min.js}"></script>
		<script th:src="@{/assets/js/bootstrap-input-spinner.js}"></script>
		<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
		<script th:src="@{/assets/js/jquery.plugin.min.js}"></script>
		<script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
		<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
		<!-- Main JS File -->
		<script th:src="@{/assets/js/main.js}"></script>
		<script th:src="@{/assets/js/demos/demo-7.js}"></script>
			<script th:src="@{/assets/js/login.js}"></script>

	</div>
</body>

</html>